* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #017143;
    border-radius: 50px;
    transition: width 0.5s ease;
}

header ul li a:hover:before {
    width: 100%;
}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333333;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.0em;
    font-weight: 900;
}

.content .textBox p {
    color: #333333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: right;
    margin-right: 80px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-20px);
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #444;
}

h1 {
    font-size: 36px;
    color: #444;
}

.sectionObrazky {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 30px;
}

.sectionObrazky .box .kava {
    height: 400px;
    transform: rotate(7deg);
}

.sectionObrazky .box .darky {
    height: 350px;
    transform: rotate(7deg);
}

.sectionObrazky .box .dobroty {
    height: 330px;
    transform: rotate(7deg);
}

.sectionObrazky .box .pouzkazy {
    height: 350px;
    transform: rotate(7deg);
    margin-top: 50px;
}

.box {
    width: 350px;
    height: 500px;
    background: rgba(246, 246, 246, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}


.sectionTlacitka {
    display: flex;
    gap: 320px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.sectionTlacitka .tlacitko a {
    padding: 8px 20px;
    background: #017143;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 170px;
}

.sectionTlacitka .tlacitko a:hover {
    background-color: #fff;
    color: #017143;
    border: 1.5px solid #017143;
    animation: none;
    transition: 0.7s;
}
.tlacitka a {
    padding: 8px 20px;
    background: #017143;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 170px;
}
.tlacitko a:hover {
    background-color: #fff;
    color: #017143;
    border: 1.5px solid #017143;
    animation: none;
    transition: 0.7s;
}

.zarovnani {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    background: #ffffff;
}

.zarovnani h1,
.zarovnani h3,
.zarovnani p {
    max-width: 600px;
    margin-bottom: 50px;
}

.zarovnani h1 {
    font-size: 36px;
    color: #444;
    margin-top: 100px;

}

.zarovnani h3 {
    font-size: 24px;
    color: #444;
    margin-top: 90px;

}

.zarovnani p {
    font-size: 18px;
    color: #333333;
    margin-top: -20px;
}


.sectionAktuality {
    width: 920px;
    height: 200px;
    background: rgba(246, 246, 246, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
    margin-bottom: -10px;

}

.sectionAktuality h4 {
    margin-top: -110px;
    margin-left: 30px;

}

.sectionAktuality p {
    margin-top: 70px;


}

.kontakt {
    width: 350px;
    height: 500px;
    background: rgba(246, 246, 246, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    color: #333;

}
.sectionKontakty {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 190px;
}

.sectionKontakty h3 {
    text-align: center !important;
    margin-bottom: 50px;
    margin-top: 60px;
}
.sectionKontakty p{
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.sectionKontakty input {
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.sectionKontakty a {
    padding: 8px 20px;
    background: #017143;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 170px;
    margin-left: 90px;
    margin-top: 64px;
}

.sectionKontakty a:hover {
    background-color: #fff;
    color: #017143;
    border: 3px solid #017143;
    animation: none;
    transition: 0.7s;

}


.label {
    font-size: 16px;
    display: none;
}


.input-field, .textarea-field {
    width: 70%;
    padding: 10px;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.textarea-field {
    resize: none;
    width: 70%;
    margin-left: 15%;
    border: 1px solid #017143;
    border-radius: 5px;
    font-size: 14px;
}


